.navbar{
	position: absolute;
	font-family:'Poppins';
}
.hotel{
	position: relative;
}
li{
	display: inline-block;
	margin-left: 40px;
	margin-right: 30px;
	margin-top: 10px;
}
.image-box{
	width: 1366px;
	height: 662px;
}